---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import NavBar from '../components/NavBar.astro';
import Button from '../components/Button.astro';


---

<Layout title="Welcome to Astro.">
	<main>
		<NavBar/>
		<section>
			<div class="presentation">
				<img src="./mulan.png" alt="img-mulan" >
				<div class="button">
					<Button>
						Ver Pelicula
					</Button>
					<Button>
						Ver Despues
					</Button>
				</div>
			</div>
			
		</section>
		<div class="icon">
			<img src="./icon.svg" alt="icon">
			<img src="./icon.svg" alt="icon">
			<img src="./icon.svg" alt="icon">
		</div>
		
	</main>
	
</Layout>

<style>
	main {
		border: none;
		margin: 0;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		
	}
	section{
	
		padding: 0 92px;
		justify-content: center;
	}
	.presentation img{
		display: flex;
		justify-content: center;
		width: 1268px;
		height: 310px;
		flex-shrink: 0;
		
	}
	.button{
		margin-left: 60px;
		margin-top: -70px;
		margin-bottom: 40px;
		display: flex;
		align-items: center;	
	}
	.icon{
		cursor: pointer;
		margin-left: 86%;
		height: 12px;
		width: 12px;
		display: inline;
		fill: var(--white, #FFFFFE);
		
	}


	
</style>
