<a href="">
    <slot/> 
</a>

<style>
    a{
        height: 36px;
        width: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: yellow;
        text-decoration: none;
        color: #000;
        border-radius: 4px;

    }
    slot{
        padding: 4px 16px;
    }

</style>